.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #42128e;
}
.home-section {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 120px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 120px;
  background-color: #42128e;
}
.home-about-us {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.home-who {
  gap: 120px;
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.home-header {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: 170px;
  padding-right: 170px;
  flex-direction: column;
}
.home-heading {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text {
  color: rgb(244, 244, 249);
  width: 100%;
  font-size: 16px;
  max-width: 600px;
  font-family: "Inter";
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
}
.home-image {
  width: 320px;
  align-self: flex-start;
  object-fit: cover;
}
.home-text28 {
  color: rgb(244, 244, 249);
  width: 100%;
  font-size: 16px;
  max-width: 600px;
  font-family: "Inter";
  font-weight: 400;
  text-transform: none;
}
.home-text30 {
  text-decoration: none;
}
.home-text33 {
  text-decoration: none;
}
.home-text36 {
  text-decoration: none;
}
.home-text39 {
  text-decoration: none;
}
.home-text40 {
  text-decoration: none;
}
.home-text46 {
  text-decoration: none;
}
.home-link {
  text-decoration: none;
}
.home-text47 {
  text-decoration: none;
}
@media(max-width: 991px) {
  .home-section {
    height: 1682px;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-about-us {
    gap: var(--dl-space-space-threeunits);
    height: 1179px;
    margin-bottom: 114px;
  }
  .home-who {
    gap: var(--dl-space-space-fourunits);
    margin-bottom: 750px;
    padding-bottom: 0px;
  }
  .home-header {
    gap: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-heading {
    gap: var(--dl-space-space-unit);
  }
  .home-text {
    color: rgb(244, 244, 249);
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    text-transform: none;
    text-decoration: none;
    line-height: 1.5;
    ;
  }
  .home-text01 {
    line-height: 1.5;
  }
  .home-text02 {
    line-height: 1.5;
  }
  .home-text03 {
    line-height: 1.5;
  }
  .home-text04 {
    line-height: 1.5;
  }
  .home-text05 {
    line-height: 1.5;
  }
  .home-text06 {
    line-height: 1.5;
  }
  .home-text07 {
    line-height: 1.5;
  }
  .home-text08 {
    line-height: 1.5;
  }
  .home-text09 {
    line-height: 1.5;
  }
  .home-text10 {
    line-height: 1.5;
  }
  .home-text11 {
    line-height: 1.5;
  }
  .home-text12 {
    line-height: 1.5;
  }
  .home-text13 {
    line-height: 1.5;
  }
  .home-text14 {
    line-height: 1.5;
  }
  .home-text15 {
    line-height: 1.5;
  }
  .home-text16 {
    line-height: 1.5;
  }
  .home-text17 {
    line-height: 1.5;
  }
  .home-text18 {
    line-height: 1.5;
  }
  .home-text19 {
    line-height: 1.5;
  }
  .home-text20 {
    line-height: 1.5;
  }
  .home-text21 {
    line-height: 1.5;
  }
  .home-text22 {
    line-height: 1.5;
  }
  .home-text23 {
    line-height: 1.5;
  }
  .home-text24 {
    line-height: 1.5;
  }
  .home-text25 {
    line-height: 1.5;
  }
  .home-text26 {
    line-height: 1.5;
  }
  .home-image {
    width: 394px;
    height: 514px;
  }
  .home-text28 {
    color: rgb(244, 244, 249);
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    text-transform: none;
  }
  .home-text29 {
    line-height: 1.5;
    text-decoration: none;
  }
  .home-text30 {
    line-height: 1.5;
    text-decoration: none;
  }
  .home-text31 {
    line-height: 1.5;
    text-decoration: none;
  }
  .home-text32 {
    line-height: 1.5;
    text-decoration: none;
  }
  .home-text33 {
    line-height: 1.5;
    text-decoration: none;
  }
  .home-text34 {
    line-height: 1.5;
    text-decoration: none;
  }
  .home-text35 {
    line-height: 1.5;
    text-decoration: none;
  }
  .home-text36 {
    line-height: 1.5;
    text-decoration: none;
  }
  .home-text37 {
    line-height: 1.5;
    text-decoration: none;
  }
  .home-text38 {
    line-height: 1.5;
    text-decoration: none;
  }
  .home-text39 {
    line-height: 1.5;
    text-decoration: none;
  }
  .home-text40 {
    line-height: 1.5;
    text-decoration: underline;
  }
  .home-text41 {
    line-height: 1.5;
    text-decoration: none;
  }
  .home-text42 {
    line-height: 1.5;
    text-decoration: none;
  }
  .home-text44 {
    line-height: 1.5;
    text-decoration: none;
  }
  .home-text45 {
    line-height: 1.5;
    text-decoration: none;
  }
  .home-text46 {
    line-height: 1.5;
    text-decoration: none;
  }
  .home-link {
    line-height: 1.5;
    text-decoration: none;
  }
  .home-text47 {
    line-height: 1.5;
    text-decoration: none;
  }
}
@media(max-width: 585px) {
  .home-who {
    margin-bottom: 0px;
  }
  .home-header {
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-text {
    color: rgb(244, 244, 249);
  }
  .home-text28 {
    color: rgb(244, 244, 249);
  }
}
@media(max-width: 406px) {
  .home-header {
    width: 429px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-heading {
    width: 394px;
    align-items: center;
  }
  .home-text {
    color: rgb(244, 244, 249);
    font-size: 20px;
    line-height: 34px;
  }
  .home-text28 {
    color: rgb(244, 244, 249);
    font-size: 20px;
    font-family: Inter;
    font-weight: 400;
    line-height: 34px;
    text-transform: none;
    text-decoration: none;
  }
  .home-text29 {
    line-height: 1.5;
  }
  .home-text30 {
    line-height: 1.5;
  }
  .home-text31 {
    line-height: 1.5;
  }
  .home-text32 {
    line-height: 1.5;
  }
  .home-text33 {
    line-height: 1.5;
  }
  .home-text34 {
    line-height: 1.5;
  }
  .home-text35 {
    line-height: 1.5;
  }
  .home-text36 {
    line-height: 1.5;
  }
  .home-text37 {
    line-height: 1.5;
  }
  .home-text38 {
    line-height: 1.5;
  }
  .home-text39 {
    line-height: 1.5;
  }
  .home-text40 {
    line-height: 1.5;
  }
  .home-text41 {
    line-height: 1.5;
  }
  .home-text42 {
    line-height: 1.5;
  }
  .home-text43 {
    line-height: 1.5;
  }
  .home-text44 {
    line-height: 1.5;
  }
  .home-text45 {
    line-height: 1.5;
  }
  .home-text46 {
    line-height: 1.5;
  }
  .home-link {
    line-height: 1.5;
  }
  .home-text47 {
    line-height: 1.5;
  }
}
