.nav-links-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
@media(max-width: 767px) {
  .nav-links-links {
    display: none;
  }
}

.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-navbar {
  width: 100%;
  display: flex;
  justify-content: center;
}
.home-navbar-interactive {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: space-between;
}
.home-branding {
  width: 725px;
  display: flex;
  max-width: 640px;
  align-items: flex-start;
  border-color: #61616B;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
  border-bottom-width: 1px;
}
.home-text {
  color: rgb(39, 39, 45);
  font-size: 45px;
  font-family: "Inter";
}
.home-desktop-menu {
  display: flex;
}
.home-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-right {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
}
.home-link {
  display: contents;
}
.home-nav-links {
  text-decoration: none;
}
.home-link01 {
  display: contents;
}
.home-button {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.home-work-with-us {
  cursor: pointer;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: #42128e;
}
.home-work-with-us:hover {
  opacity: 0.5;
}
.home-text01 {
  color: #ffffff;
  display: flex;
  font-size: 24px;
}
.home-image {
  width: 100px;
  display: none;
  object-fit: cover;
}
.home-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.home-work-with-us1 {
  cursor: pointer;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 70px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: rgb(229, 254, 88);
}
.home-work-with-us1:hover {
  opacity: 0.5;
}
.home-text02 {
  display: flex;
  font-size: 24px;
}
.home-image1 {
  width: 100px;
  display: none;
  object-fit: cover;
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-branding1 {
  flex: 1;
  display: flex;
  max-width: 640px;
  align-items: flex-start;
  border-color: #61616B;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom-width: 1px;
}
.home-text03 {
  color: #27272D;
  font-size: 30px;
  font-family: Inter;
}
.home-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-middle {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  position: relative;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.home-work-with-us2 {
  cursor: pointer;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 70px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: rgb(229, 254, 88);
}
.home-work-with-us2:hover {
  opacity: 0.5;
}
.home-text04 {
  display: flex;
  font-size: 24px;
}
.home-hero {
  gap: 80;
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
}
.home-header {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text05 {
  color: rgb(39, 39, 45);
  width: 100%;
  font-size: 35px;
  max-width: 1000px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8;
}
.home-who {
  gap: 120px;
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-heading {
  gap: var(--dl-space-space-threeunits);
  width: 824px;
  display: flex;
  flex-direction: column;
}
.home-text09 {
  color: rgb(39, 39, 45);
  width: 100%;
  font-size: 24px;
  max-width: 800px;
  line-height: 40px;
}
.home-header1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  padding-left: 170px;
  padding-right: 170px;
  flex-direction: column;
}
.home-book {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  background-color: #ffe124;
}
.home-content {
  width: 464px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-left {
  gap: var(--dl-space-space-threeunits);
  width: 639px;
  display: flex;
  position: relative;
  max-width: 810px;
  align-items: center;
  flex-direction: column;
}
.home-text33 {
  font-size: 35px;
  align-self: stretch;
  font-style: normal;
  font-weight: 500;
  line-height: 65px;
}
.home-button1 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  align-self: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  text-transform: lowercase;
  background-color: #42128e;
}
.home-link05 {
  text-transform: capitalize;
}
.home-section {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 120px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 120px;
  background-color: #42128e;
}
.home-about-us {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.home-header2 {
  gap: var(--dl-space-space-threeunits);
  width: 1062px;
  display: flex;
  max-width: 1000px;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.home-description {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
}
.home-gallery {
  width: 100%;
  height: 824px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
}
.home-image2 {
  width: auto;
  height: 739px;
  object-fit: cover;
}
.home-statistics {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #ffffff;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
  border-top-width: 1px;
  border-bottom-width: 1px;
}
.home-statistic {
  gap: var(--dl-space-space-unit);
  width: 272px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text38 {
  color: rgb(255, 255, 255);
  font-size: 65px;
}
.home-text39 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  text-align: center;
  line-height: 27px;
}
.home-statistic1 {
  gap: var(--dl-space-space-unit);
  width: 272px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text40 {
  color: rgb(255, 255, 255);
  font-size: 65px;
}
.home-text41 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  text-align: center;
  line-height: 27px;
}
.home-statistic2 {
  gap: var(--dl-space-space-unit);
  width: 272px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text42 {
  color: rgb(255, 255, 255);
  font-size: 65px;
}
.home-text43 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  text-align: center;
  line-height: 27px;
}
.home-statistic3 {
  gap: var(--dl-space-space-unit);
  width: 272px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text44 {
  color: rgb(255, 255, 255);
  font-size: 65px;
}
.home-text45 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  text-align: center;
  line-height: 27px;
}
.home-who1 {
  gap: 120px;
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.home-header3 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: 170px;
  padding-right: 170px;
  flex-direction: column;
}
.home-heading1 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text46 {
  color: rgb(244, 244, 249);
  width: 100%;
  font-size: 24px;
  max-width: 800px;
  line-height: 40px;
}
.home-text56 {
  text-decoration: underline;
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-header4 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #61616B;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
  border-bottom-width: 1px;
}
.home-branding2 {
  color: rgb(39, 39, 45);
  font-size: 30px;
}
.home-text61 {
  text-decoration: underline;
}
.home-socials {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-link06 {
  display: contents;
}
.home-link07 {
  display: contents;
}
.home-link08 {
  display: contents;
}
.home-locations {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  flex-direction: row;
}
.home-location {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  max-width: 270px;
  align-items: flex-start;
  flex-direction: column;
}
.home-title {
  color: rgb(39, 39, 45);
}
.home-socials1 {
  gap: var(--dl-space-space-twounits);
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
@media(max-width: 991px) {
  .home-navbar-interactive {
    gap: var(--dl-space-space-fourunits);
    justify-content: center;
  }
  .home-text01 {
    line-height: 30px;
  }
  .home-text02 {
    line-height: 30px;
  }
  .home-text04 {
    line-height: 30px;
  }
  .home-hero {
    gap: var(--dl-space-space-fourunits);
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-text05 {
    font-size: 32px;
  }
  .home-who {
    gap: var(--dl-space-space-fourunits);
    margin-bottom: 750px;
    padding-bottom: 0px;
  }
  .home-heading {
    gap: var(--dl-space-space-unit);
  }
  .home-text09 {
    font-size: 16px;
    line-height: 28px;
  }
  .home-header1 {
    gap: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-book {
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-content {
    gap: var(--dl-space-space-oneandhalfunits);
    flex-direction: column-reverse;
    justify-content: center;
  }
  .home-left {
    gap: var(--dl-space-space-oneandhalfunits);
    align-items: center;
  }
  .home-text33 {
    font-size: 32px;
    text-align: center;
    line-height: 38px;
  }
  .home-link05 {
    font-size: 16px;
  }
  .home-section {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-about-us {
    gap: var(--dl-space-space-threeunits);
  }
  .home-header2 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-description {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
  }
  .home-statistics {
    gap: var(--dl-space-space-threeunits);
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-text38 {
    font-size: 32px;
    line-height: 38px;
  }
  .home-text39 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-text40 {
    font-size: 32px;
    line-height: 38px;
  }
  .home-text41 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-text42 {
    font-size: 32px;
    line-height: 38px;
  }
  .home-text43 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-text44 {
    font-size: 32px;
    line-height: 38px;
  }
  .home-text45 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-who1 {
    gap: var(--dl-space-space-fourunits);
    margin-bottom: 750px;
    padding-bottom: 0px;
  }
  .home-header3 {
    gap: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-heading1 {
    gap: var(--dl-space-space-unit);
  }
  .home-text46 {
    font-size: 16px;
    line-height: 28px;
  }
  .home-footer {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-header4 {
    padding-top: 0px;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-branding2 {
    font-size: 18px;
  }
  .home-text58 {
    font-size: 18px;
  }
  .home-socials {
    display: none;
  }
  .home-locations {
    padding-top: var(--dl-space-space-threeunits);
    border-color: var(--dl-color-gray-black);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-threeunits);
    border-bottom-width: 1px;
  }
  .home-title {
    font-size: 24px;
  }
  .home-text63 {
    font-size: 24px;
  }
  .home-text64 {
    font-size: 24px;
  }
  .home-text65 {
    font-size: 24px;
  }
  .home-text66 {
    font-size: 24px;
  }
  .home-socials1 {
    width: 100%;
    display: flex;
    padding-top: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .home-row {
    gap: var(--dl-space-space-fourunits);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-row1 {
    gap: var(--dl-space-space-fourunits);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 767px) {
  .home-navbar-interactive {
    padding-top: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .home-desktop-menu {
    display: none;
  }
  .home-work-with-us {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-text01 {
    display: none;
  }
  .home-image {
    width: 16px;
    height: 14px;
    display: flex;
  }
  .home-burger-menu {
    display: flex;
    align-self: flex-start;
  }
  .home-work-with-us1 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    background-color: rgba(66, 18, 142, 0.6);
  }
  .home-text02 {
    display: none;
  }
  .home-image1 {
    width: 16px;
    height: 14px;
    display: flex;
  }
  .home-branding1 {
    max-width: 80%;
  }
  .home-work-with-us2 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-who {
    margin-bottom: 0px;
  }
  .home-heading {
    width: 718px;
  }
  .home-header1 {
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-description {
    width: 714px;
    align-self: center;
  }
  .home-who1 {
    margin-bottom: 0px;
  }
  .home-header3 {
    padding-bottom: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .home-text {
    font-size: 40px;
  }
  .home-work-with-us1 {
    background-color: rgba(66, 18, 142, 0.57);
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-who {
    width: 100%;
  }
  .home-heading {
    width: 437px;
    margin-left: 0px;
  }
  .home-text09 {
    color: rgb(39, 39, 45);
    font-size: 16px;
    line-height: 28px;
  }
  .home-header1 {
    width: 424px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-header2 {
    width: 479px;
    padding-left: 0px;
  }
  .home-description {
    width: 436px;
    font-size: 2.8rem;
    align-self: center;
    font-style: normal;
    font-weight: 500;
    line-height: 44px;
  }
  .home-gallery {
    flex: 1;
    width: 479px;
    height: 661px;
    align-self: center;
  }
  .home-image2 {
    flex: 0.1;
    width: 384px;
    height: 501px;
    align-self: center;
  }
  .home-text39 {
    font-size: 20px;
  }
  .home-text41 {
    font-size: 20px;
  }
  .home-text43 {
    font-size: 20px;
  }
  .home-text45 {
    font-size: 20px;
  }
  .home-header3 {
    width: 429px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-heading1 {
    width: 394px;
    align-items: center;
  }
  .home-text46 {
    color: rgb(244, 244, 249);
    font-size: 24px;
    line-height: 40px;
  }
  .home-text56 {
    text-decoration: underline;
  }
  .home-branding2 {
    color: rgb(39, 39, 45);
    font-size: 18px;
  }
  .home-text58 {
    font-size: 25px;
  }
  .home-text59 {
    font-size: 25px;
  }
  .home-text60 {
    font-size: 25px;
    text-decoration: underline;
  }
  .home-text61 {
    font-size: 25px;
    text-decoration: underline;
  }
  .home-text62 {
    text-decoration: underline;
  }
  .home-title {
    color: rgb(39, 39, 45);
    font-size: 14px;
  }
  .home-text63 {
    font-size: 17px;
  }
  .home-text64 {
    font-size: 17px;
  }
  .home-text65 {
    font-size: 17px;
  }
  .home-text66 {
    font-size: 17px;
  }
  .home-text67 {
    font-size: 17px;
  }
  .home-text68 {
    font-size: 17px;
  }
  .home-text69 {
    font-size: 17px;
  }
  .home-text70 {
    font-size: 17px;
  }
}
